<div class="container">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="message" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
        </div>
        <div class="form-group">
            <div [innerHTML]="totalMessage"></div>
        </div>
</div>