.message-container {
    display: block;
    padding: .25em 1.5em .75em 1em;
    position: relative;
}
.message-content {
    font-size: .65em;
    line-height: 1.5385em;
    top: .3592307692em;
    font-weight: 400;
}