.friend-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.friend-item {
    display: block;
    cursor: pointer;
}
.friend-item a {
    display: table;
    height: 2.75em;
    padding: .35em 0 .5em .3em;
    position: relative;
    width: 100%;
}
.friend-item a:hover {
    background-color: #EAEAEA;
}
.friend-item .active {
    background-color: #FEFEFE;
}
.title {
    position: relative;
    display: block;
}
.text {
    padding-left: 10px;
}
.text-middle {
    display: table-cell;
    vertical-align: middle;
}
.friend-item span {
    margin: 0;
    border: 0;
    vertical-align: baseline;
}
.friend-item .message {
    color: #667486;
    font-size: 12px;
    font-style: italic;
    left: 0;
    vertical-align: top;
}
.part {
    display: block;
    border-right: 1px solid #CCCCCC;
    width: 100%;
    background-color: #F1F1F1;
}
.part-top {
    border-bottom: 1px solid #CCCCCC;
    height: 150px;
}
.part-bottom {
    height: 100%;
    overflow-y: scroll;
}
.logo-status {
    margin-top: -15px;
    margin-right: 5px;
}
.title-header {
    display: block;
    padding: 1.15em 0 .3em .8em;
}
.title-header .title {
    font-size: 80%;
    font-weight: bold;
    color: #8a8D91;
}